*{
	margin: 0px;
	padding: 0px;
}

.container{
	display: grid;
	height: 100vh;
	background: #fff;
    grid-template-rows: 25% 70%;
}

.titulo{
	display: grid;
    align-self: center;
    width: 99.9%;
}

.titulo h1{
    color: black;
    justify-self: center; 
    font-family: 'roboto black';
	text-align: center;
	font-size: 50px;
}

.titulo h2{
    color: black;
    justify-self: center; 
    font-family: 'roboto regular';
	text-align: center;
    font-size: 20px;
    font-weight:450;
}

.servicos{
	display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.servicos h1{
    color: black;
    justify-self: center; 
    font-family: 'roboto regular';
	text-align: center;
    font-size: 20px;
    margin-top: 5%;
}

.servicos h2{
    color: black;
    justify-self: center; 
    font-family: 'roboto regular';
	text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight:450;
}

.servicos .imagem{
    display: grid;
    height: 50px;
    margin-top: 10px;
}


.servicos .imagem img{
	margin-bottom: 20px;
	justify-self: center;
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 1024px){
    .titulo{
        margin-top: -60px;
    }
    .titulo h1{
        font-size: 50px; 
    }
    .titulo h2{
        font-size: 20px;
    }
    .servicos{
        grid-template-columns: 50% 50%;
        margin-top: -30px;
        margin-right: 1%;
        margin-left: 1%;
    }
    .servicos h1{
        font-size: 20px;
        margin-top: 22px;
    }
    .servicos h2{
        font-size: 15px;
    }
    .servicos .imagem img{
        width: 55px;
        height: 55px;
    }
    .servicos .web{
        margin-top: -80px;
    }

    .servicos .seguranca{
        margin-top: -80px;
    }
}

@media screen and (max-width: 768px){
    .titulo{
        margin-top: -70px;
    }
    .titulo h1{
        font-size: 40px; 
    }
    .titulo h2{
        font-size: 15px;
    }
    .servicos{
        grid-template-columns: 50% 50%;
        margin-top: -50px;
        margin-right: 1%;
        margin-left: 1%;
        height: auto;
    }
    .servicos h1{
        font-size: 18px;
        margin-top: 22px;
    }
    .servicos h2{
        font-size: 15px;
        margin-top: 6px;
    }
    .servicos .imagem img{
        width: 50px;
        height: 50px;
    }
    .servicos .web{
        margin-top: -200px;
    }

    .servicos .seguranca{
        margin-top: -200px;
    }
}

@media screen and (max-width: 640px){
    .titulo{
        margin-bottom: -90px;
    }
    .titulo h1{
        font-size: 25px; 
    }
    .titulo h2{
        font-size: 15px;
    }
    .servicos{
        grid-template-columns: 100%;
        margin-top: 30px;
    }
    .servicos h1{
        font-size: 15px;
        margin-top: -10px;
    }
    .servicos h2{
        font-size: 12px;
        margin-top: 3px;
    }
    .servicos .imagem img{
        width: 35px;
        height: 35px;
    }
    .servicos .desenvolvimento{
        margin-top: -30px;
    }
    .servicos .web{
        margin-top: -30px;
    }

    .servicos .seguranca{
        margin-top: -30px;
    }
}

@media screen and (max-width: 360px){
    .titulo{
        margin-top: -50px;
    }
    .titulo h1{
        font-size: 20px; 
    }
    .titulo h2{
        font-size: 10px;
    }
    .servicos{
        grid-template-columns: 100%;
        margin-top: -60px;
    }
    .servicos h1{
        font-size: 13px;
        margin-top: -20px;
    }
    .servicos h2{
        font-size: 8px;
        margin-top: 3px;
    }
    .servicos .imagem img{
        width: 20px;
        height: 20px;
    }
    .servicos .desenvolvimento{
        margin-top: -30px;
    }
    .servicos .web{
        margin-top: -30px;
    }

    .servicos .seguranca{
        margin-top: -30px;
    }
}