*{
	margin: 0px;
	padding: 0px;
} 

header{
	display: grid;
	height: 100vh;
	background: #fff;
    grid-template-rows: 25% 70%;
}

header .sobre{
    display: grid;
}

header .sobre h2{
    font-size: 42px;
	font-weight: 800;
	font-family: 'Roboto Black';
	color: #000;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

header .entenda{
    display:grid;
}

header .entenda h4{
    font-family: 'Roboto';
	font-size: 16px;
	color: #000;
    text-align: center;
    font-weight:450;
    line-height: 25px;
    margin-top: -50px;
}

header .texto-sobre{
    display:grid;
}

header .texto-sobre p{
    font-family: 'Roboto';
	font-size: 20px;
    color: #000;
    margin-right: 550px;
    margin-left: 230px;
    line-height: 40px;
    margin-top: -400px;
}

header .foguete{
    display: grid;
}

header .foguete img{
    width: 400px;
    height: 400px;
    margin-top: -450px;
    margin-left: 840px;
}

@media screen and (max-width: 1085px){
    header .sobre h2{
        margin-top: 10px;
    }
    
    header .entenda h4{
        margin-top: -50px;
    }

    header .texto-sobre p{
        margin-top: -350px;
        margin-left: 100px;
        margin-right: 500px;
    }
    header .foguete img{
        margin-top: -400px;
        margin-left: 600px;
    }
}

@media screen and (max-width: 1024px){
    header .sobre h2{
        margin-top: 10px;
    }
    
    header .entenda h4{
        margin-top: -50px;
    }

    header .texto-sobre p{
        margin-top: -370px;
        margin-left: 100px;
        margin-right: 500px;
    }
    header .foguete img{
        margin-top: -430px;
        margin-left: 600px;
    }
}

@media screen and (max-width: 768px){
    header .sobre h2{
        font-size: 30px;
        margin-top: 10px;
    }
    
    header .entenda h4{
        font-size: 14px;
        margin-top: -90px;
    }

    header .texto-sobre p{
        margin-top: -350px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
    }
    header .foguete img{
        width: 250px;
        height: 250px;
        margin-top: -650px;
        margin-left: 33.7%;
        
    }
}

@media screen and (max-width: 640px){
    header .sobre h2{
        font-size: 28px;
        margin-top: -15px;
    }
    
    header .entenda h4{
        font-size: 12px;
        margin-top: -45px;
    }

    header .texto-sobre p{
        line-height: 30px;
        margin-top: -250px;
        margin-left: 50px;
        margin-right: 250px;
        font-size: 14px;
    }
    header .foguete img{
        width: 200px;
        height: 200px;
        margin-top: -250px;
        margin-left: 400px;
        
    }
}

@media screen and (max-width: 360px){
    header .sobre h2{
        font-size: 28px;
        margin-top: -40px;
    }
    
    header .entenda h4{
        font-size: 12px;
        margin-top: -90px;
    }

    header .texto-sobre p{
        line-height: 30px;
        margin-top: -350px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 14px;
    }
    header .foguete img{
        width: 150px;
        height: 150px;
        margin-top: -525px;
        margin-left: 29.25%;
        
    }
}